@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .basic-font-style {
    @apply font-trello text-tw-text text-sm font-normal leading-5;
  }
  .icon-size {
    @apply text-[16px];
  }
  .position-center {
    @apply top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%];
  }

  .background-style {
    @apply bg-tw-background;
  }
  .background-position {
    @apply flex flex-col min-h-screen;
  }

  .shadow-raised {
    @apply shadow-sm shadow-gray-500;
  }
  .transition-ease {
    @apply transition duration-[85];
  }

  .list-width {
    @apply w-[272px];
  }
  .list-total-style {
    @apply pb-2 rounded-xl  bg-tw-background-list;
  }
  .list-header-style {
    @apply px-2 py-2 outline-none rounded-t-xl border-tw-background-list;
  }
  .list-body-style {
    @apply mx-1 border-2 border-tw-background-list;
  }
  .list-footer-style {
    @apply px-1 border-2 border-tw-background-list;
  }

  .add-card-popup-style {
    @apply list-width rounded-xl bg-tw-background-list;
  }

  .add-card-button-style {
    @apply rounded-lg;
  }
  .add-card-button-position {
    @apply flex items-center justify-start grow pl-2 pr-3 py-1.5;
  }
  .add-card-button-active {
    @apply bg-dynamic-button
    hover:bg-tw-background-neutral-hovered
    active:bg-tw-background-neutral-pressed;
  }

  .card-button-style {
    @apply cursor-pointer border-2 border-white rounded-md;
  }
  .card-button-active {
    @apply bg-tw-background-card
    hover:border-tw-hovered
    /* active:bg-tw-background-list; */;
  }

  .add-list-popup-style {
    @apply p-2 list-width rounded-xl bg-tw-background-list;
  }
  .add-list-active-button-style {
    @apply p-3 mb-2 text-white rounded-xl bg-tw-add-button-neutral hover:bg-tw-add-button-hovered active:bg-tw-add-button-pressed;
  }
  .add-list-button-style {
    @apply px-3 py-1.5 rounded-[3px] text-white font-medium;
  }
  .add-list-button-active {
    @apply bg-tw-background-brand-bold
    hover:bg-tw-background-brand-bold-hovered
    active:bg-tw-background-brand-bold-pressed;
  }

  .input-textarea-style {
    @apply pt-0.5 pr-2 pb-[1px] pl-[10.5px] cursor-pointer outline-none border-2 rounded-[4px] w-full h-8;
  }
  .input-textarea-active {
    @apply border-white bg-tw-background-input
    hover:bg-tw-background-input-hovered
    hover:border-tw-background-input-hovered
    focus:bg-tw-background-input-pressed
    focus:border-tw-border-focused;
  }
  .textarea-resize-none {
    @apply resize-none;
  }

  /* TODO: Pseudo class */
  .is-active-edit {
    @apply block;
  }
  /* .is-active-input {
    @apply 
  } */
  /* .pseudo-after {
    @apply after:content-['']
    after:h-2
    after:w-2
    after:absolute
    after:bg-black;
  } */

  /* TODO: 일반(neutral) style */
  .neutral-style {
    @apply mt-2 py-1.5 px-3;
  }
  .neutral-active {
    @apply cursor-pointer bg-tw-background-neutral hover:bg-tw-background-neutral-hovered
    active:bg-tw-background-neutral-pressed;
  }
  .transparent-style {
    @apply rounded-sm;
  }
  .transparent-active {
    @apply cursor-pointer
    bg-tw-UNSAFE-transparent
    hover:bg-tw-background-neutral-hovered
    active:bg-tw-background-neutral-pressed;
  }
  /* TODO: danger style */
  .danger-style {
    @apply mt-2 text-white cursor-pointer py-1.5 px-3 bg-tw-background-danger-bold hover:bg-tw-background-danger-bold-hovered
    active:bg-tw-background-danger-bold-pressed;
  }
}
